
fastapi
uvicorn[standard]
# sqlalchemy  <- ELIMINADO
# alembic  <- ELIMINADO
# psycopg2-binary <- ELIMINADO
pymongo[srv] # <-- AÑADIDO: Driver oficial de MongoDB
pydantic[email]
python-dotenv
pytest
httpx
pydantic-settings